@page "/curriculo"

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <title>Currículo</title>
</head>
<body>

    <h1 style="text-align: center;">CURRICULUM VITAE</h1>
    <br />  
    <h2>Maria Isabeli Antunes Medeiros</h2>
    <p>Estudante do Instituto Federal - Curso Técnico em Informática</p>

    <h2>Formação</h2>
    <ul>
        <li><strong>Curso Técnico em Informática</strong> - IF (Instituto Federal)</li>
        <li>Conclusão prevista: Dezembro de 2025</li>
        <li>Ensino Médio integrado</li>
        <li>Ensino Fundamental Completo no Colégio Educar</li>
    </ul>

    <h2>Experiência</h2>
    <ul>
        <li><strong>Projeto Acadêmico:</strong> Monitoria em Física</li>
        <li>Participação em feiras de tecnologia e workshops sobre programação</li>
    </ul>

    <h2>Habilidades</h2>
    <ul>
        <li>HTML e JavaScript básiquissimos</li>
        <li>Conhecimentos em lógica de programação</li>
        <li>Inglês básico (leitura e compreensão)</li>
    </ul>

    <h2>Contato</h2>
    <p>Email:mariaisabelijipaa@gmail.com</p>
    <p>Telefone: (69) 99373-2585</p>

</body>
</html>

